In [1]:
import pandas as pd

dfl=[]
dfs = []
for i in range(4):
    df= pd.read_csv('B:\\Ubiquitous Lab\combined_data_liftdown.'+ str(i+1) +'.csv')
    dfl.append(df)

for i in range(3):
    df= pd.read_csv('B:\\Ubiquitous Lab\combined_data_liftup.'+ str(i+1) +'.csv')
    dfl.append(df)


for i in range(2):
    df= pd.read_csv('B:\\Ubiquitous Lab\combined_data_stairsdown.'+ str(i+1) +'.csv')
    dfs.append(df)

for i in range(2):
    df= pd.read_csv('B:\\Ubiquitous Lab\combined_data_stairsup.'+ str(i+1) +'.csv')
    dfs.append(df)


df_lift = pd.concat(dfl,axis=0)
df_stairs = pd.concat(dfs,axis=0)

In [2]:
df_lift.head()

df_lift = df_lift[df_lift['HR']!= 0]

In [3]:
df_lift = df_lift[df_lift['z']> -0.3]
df_lift.count()

x           4275
y           4275
z           4275
pressure    4275
altitude    4275
HR          4275
dtype: int64

In [4]:
x_lift_mean = df_lift['x'].mean()
y_lift_mean = df_lift['y'].mean()
z_lift_mean = df_lift['z'].mean()
HR_lift_mean = df_lift['HR'].mean()

In [5]:
x_lift_var = df_lift['x'].var()
y_lift_var = df_lift['y'].var()
z_lift_var = df_lift['z'].var()
HR_lift_std = df_lift['HR'].std()

In [6]:
lift_acc_var = [x_lift_var,y_lift_var,z_lift_var]
lift_acc_mean = [x_lift_mean,y_lift_mean,z_lift_mean]
print(lift_acc_mean)
print(lift_acc_var)
print(HR_lift_std)

[-0.9233763363805848, 0.33604123838081873, -0.06493872215087718]
[0.016188364730156057, 0.01782389731250649, 0.02754492659095466]
22.552729190698777

In [7]:
df_stairs = df_stairs[df_stairs['HR']!= 0]
df_stairs.count()

x           5381
y           5381
z           5381
pressure    5381
altitude    5381
HR          5381
dtype: int64

In [8]:
df_stairs = df_stairs[df_stairs['z']> -0.3]
df_stairs.count()

x           4958
y           4958
z           4958
pressure    4958
altitude    4958
HR          4958
dtype: int64

In [9]:
x_stairs_mean = df_stairs['x'].mean()
y_stairs_mean = df_stairs['y'].mean()
z_stairs_mean = df_stairs['z'].mean()

stairs_acc_mean = [x_stairs_mean,y_stairs_mean,z_stairs_mean]

x_stairs_var = df_stairs['x'].var()
y_stairs_var = df_stairs['y'].var()
z_stairs_var = df_stairs['z'].var()
HR_stairs_std = df_stairs['HR'].std()

stairs_acc_var = [x_stairs_var,y_stairs_var,z_stairs_var]

print(stairs_acc_mean)
print(stairs_acc_var)
print(HR_stairs_std)

[-1.058690436219645, 0.27397618020774506, 0.029550691627067367]
[0.09032179726077001, 0.0779981118603209, 0.04558145004514721]
13.140657339063125

In [10]:
df_lift['variance_x'] = lift_acc_var[0]
df_lift['variance_y'] = lift_acc_var[1]
df_lift['variance_z'] = lift_acc_var[2]
df_lift['label'] = 0

In [11]:
df_stairs['variance_x'] = stairs_acc_var[0]
df_stairs['variance_y'] = stairs_acc_var[1]
df_stairs['variance_z'] = stairs_acc_var[2]
df_stairs['label'] = 1

In [12]:
df_lift.head()

,x,y,z,pressure,altitude,HR,variance_x,variance_y,variance_z,label
0,-0.948975,0.358032,-0.137451,971.026299,357.625525,55,0.016188,0.017824,0.027545,0
1,-0.925903,0.318604,-0.146484,971.026299,357.625525,55,0.016188,0.017824,0.027545,0
2,-0.907837,0.306519,-0.145386,971.026299,357.625525,55,0.016188,0.017824,0.027545,0
3,-0.907837,0.306519,-0.145386,971.034146,357.557908,55,0.016188,0.017824,0.027545,0
4,-0.925415,0.338257,-0.131348,971.034146,357.557908,55,0.016188,0.017824,0.027545,0

In [13]:
import numpy as np
value_set_1 = [0.1,0.2,0.3]
value_set_2 = [0.3,0.4,0.5]
df_stairs["slope"] = np.random.choice(value_set_1, size=len(df_stairs))
df_lift["slope"] = np.random.choice(value_set_2, size=len(df_lift))

In [14]:
combined_df = pd.concat([df_lift, df_stairs],axis = 0)

In [15]:
combined_df.count()

x             9233
y             9233
z             9233
pressure      9233
altitude      9233
HR            9233
variance_x    9233
variance_y    9233
variance_z    9233
label         9233
slope         9233
dtype: int64

In [16]:
combined_df.to_csv('B:\\Ubiquitous Lab\combined_data_with_var.csv')

In [17]:
combined_df

,x,y,z,pressure,altitude,HR,variance_x,variance_y,variance_z,label,slope
0,-0.948975,0.358032,-0.137451,971.026299,357.625525,55,0.016188,0.017824,0.027545,0,0.5
1,-0.925903,0.318604,-0.146484,971.026299,357.625525,55,0.016188,0.017824,0.027545,0,0.3
2,-0.907837,0.306519,-0.145386,971.026299,357.625525,55,0.016188,0.017824,0.027545,0,0.4
3,-0.907837,0.306519,-0.145386,971.034146,357.557908,55,0.016188,0.017824,0.027545,0,0.3
4,-0.925415,0.338257,-0.131348,971.034146,357.557908,55,0.016188,0.017824,0.027545,0,0.3
...,...,...,...,...,...,...,...,...,...,...,...
1581,-0.635498,0.760254,0.243164,990.103845,194.514719,104,0.090322,0.077998,0.045581,1,0.2
1582,-0.635498,0.760254,0.243164,990.112737,194.439288,104,0.090322,0.077998,0.045581,1,0.2
1583,-0.621216,0.759399,0.260376,990.112737,194.439288,104,0.090322,0.077998,0.045581,1,0.3
1584,-0.573975,0.783081,0.291382,990.112737,194.439288,104,0.090322,0.077998,0.045581,1,0.2
1585,-0.573975,0.783081,0.291382,990.104454,194.509550,104,0.090322,0.077998,0.045581,1,0.1

In [18]:
print(f'Acc_variance_staircase = {stairs_acc_var}')
print(f'Acc_variance_lift = {lift_acc_var}')

Acc_variance_staircase = [0.09032179726077001, 0.0779981118603209, 0.04558145004514721]
Acc_variance_lift = [0.016188364730156057, 0.01782389731250649, 0.02754492659095466]